.main-container{
min-height: 700px;
}


.gallery-container{
  background-image: url('../../../public/images/gallery-background.jpg');
  background-size: contain;
  background-position: center;
  padding: 20px;
  border-radius: 10px;
}

.gallery-title{
    text-align: center;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 20px;
} 

